
/*Header and footer styling*/
#Header {
	width: 100%;
	border-style: none;
}

#Footer {
	width: 100%;
	border-style: none;
}

.title {
	font-family: "Rambla"
}

.heading {
	font-family: "Source Sans Pro"
}

.main {
	font-family: "Quicksand"
}