#Header {
    width: 100%;
    border-style: none;
    margin-bottom: 0;
}
#Footer {
    width: 100%;
    border-style: none;
}

*{
    box-sizing: border-box;
    margin-top: 0px;
    padding-top: 0px;
}

.clr{
    clear: both;
}

body{
    margin: 0;
    padding: 0;
}

.background{
    margin: 0;
    background-image: url(images/table2.jpg);
    background-size: cover;
    position: relative;
    height: 700px;
    background-position: center;
}

#title{
    position: absolute;
    top: 50px;
    right: 35%;
    text-align: center;
    font-family: Rambla;
    color: #e1ad01;
    font-size: 80px;
}

.slogan{
    position: absolute;
    top: 380px;
    right: 33%;
    text-align: center;
    font-family: Rambla;
    color: #e1ad01;
    font-size: 35px;
}

/*#ffdb58*/

.triImgContainer{
    height: 450px;
    width: 1024px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}

.slogan2{
    font-family: Rambla;
    color: #b3272d;
    font-size: 35px;
    text-align: center;
    padding-bottom: 60px;
}

.rounded{
    float: left;
    width: 33%;
    margin: 1px;
    overflow-inline: hidden;
    text-align: center;
    font-family: Rambla; 
}

.rounded1{
    float: right;
    width: 33%;
    margin: 1px;
    overflow-inline: hidden;
    text-align: center;
    font-family: Rambla;
    color: #b3272d; 
}

h3{
    padding: 20px;
    font-size: 25px;
    color: #b3272d;
}

.roundedImg{
    width: 225px;
    height: 225px;
    border-radius: 50%;
    border: #000 3px solid;
}

.desRight{
    float: right;
    width: 35%;
    padding: 15px;
    margin-right: 50px;
    margin-bottom: 5px;
}

a{
	text-decoration: none;
	color: #e1ad01;
}

a:hover{
	color: green;
}

a:active{
	color: red;
}

.RedBack{
    background: linear-gradient(180deg, #b3272d,#b32765);
    height: 600px;
}

.YellowBack{
    background: linear-gradient(180deg, #ffdb58,#e1ad01);
    height: 600px;
}

.imgLeft{
    float: left;
    width: 55%;
    padding: 15px;
    height: auto;
    margin-left: 50px;
    margin-bottom: 5px;
}

.desLeft{
    float: left;
    width: 35%;
    padding: 15px;
    height: 450px;
    border-radius: 8%;
    margin-left: 50px;
    margin-bottom: 5px;
}
.imgRight{
    float: right;
    width: 55%;
    padding: 15px;
    padding-top: 60px;
    height: auto;
    margin-right: 50px;
    margin-bottom: 5px;
}

p{
    font-family: Quicksand;
    color: #fff;
    font-size: 25px;
    padding: 100px;
}

.buttonContainer{
    height: 200px;
    position: relative;
    background-color: #b3272d;
    padding-top: 50px;
    padding-left: 50px;
    color: #fff;
}

.download{
    font-family: Quicksand;
    font-size: 35px;
    text-align: center;
}

.button{
    background-color: #e1ad01;
    font-family: Quicksand;
	color:#fff;
    border:none;
    top: 100px;
    height: 80px;
    width: 141px;
    font-size: 25px;
    border-radius: 8%;
}

.button:hover{
	background: #333;
	color:#fff;
}

.btn{
    text-align: center;
}