.colParent {
	overflow:hidden;
}

.col {
	float:left;
	width: 33.33%;
	margin-bottom: 30px;
}

.colin{
	border-width: 2px;
	border-style: solid;
	border-radius: 7px;
	margin: 0 15px 0 15px;
	min-height: 500px;
}

.openable {
	margin: 15px auto 15px auto;
	height: auto;
	padding: 15px;
	width: 50%;
	border-width: 2px;
	border-style: solid;
	border-radius: 7px;
}

.imageButton {
	height: 20px;
	width: 20px;
	float: right;
	margin-right: 20px;
	margin-top: 0px;
	
	transform: rotate(1deg);
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	
	animation: bRotateClose 0.5s ease;
	-webkit-animation: bRotateClose 0.5s ease;
	-ms-animation: bRotateClose 0.5s ease;
	-moz-animation: bRotateClose 0.5s ease;
	-o-animation: bRotateClose 0.5s ease;
}

.imageButton-open {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	
	animation: bRotateOpen 0.5s ease;
	-webkit-animation: bRotateOpen 0.5s ease;
	-ms-animation: bRotateOpen 0.5s ease;
	-moz-animation: bRotateOpen 0.5s ease;
	-o-animation: bRotateOpen 0.5s ease;
}

.QuestionContainer {
	float: left;
	margin-left: 20px;
	margin-top: 0px
}

.inlineElement {
	display: block;
	overflow: hidden;
}

.answercontainer {
	height:auto;
	transition: max-height 0.5s ease, margin-top 0.5s ease;
	margin-top: 0;
	max-height: 0;
	overflow:hidden;
}

.answercontainer-open {
	transition: max-height 0.5s ease, margin-top 0.5s ease;
	margin-top: 20px;
	max-height: 1000px;
}

#HeadingContainer {
	padding-top: 60px;
	padding-bottom: 60px;
}

#ColHead {
	min-height: 50px;
	margin-top: 20px;
}

#GetStarted {
	font-family: 'Quicksand';
	font-size: 35px;
	margin-top: 40px;
}

#GetStartedSub {
	font-family: 'Quicksand';
	font-size: 30px;
	margin-bottom: 20px;
}

#Faq {
	margin-bottom: 45px;
}

/*Element Tags*/

body > * {
	text-align: center;
}

span {
	display: inline-block;
}

h1 {
	font-family: 'Rambla';
	font-size: 45px;
}

h2 {
	font-family: 'Source Sans Pro';
}

h3 {
	font-family: 'Rambla';
	font-size: 25px;
}

h4 {
	font-family: 'Source Sans Pro';
	font-size: 20px;
	color: #383838;
	margin-left: 5px;
	margin-right:5px;
	margin-top: auto;
	margin-bottom: auto;
}

h5 {
	font-family: 'Quicksand';
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

li, p {
	font-family: 'Quicksand';
}

hr{
	margin-top: 15px;
}

/*Animations*/

/*Button close*/
@keyframes bRotateClose {
0% {transform: rotate(180deg);}
100% {transform: rotate(0deg);}
}

@-moz-keyframes bRotateClose {
0% {-moz-transform: rotate(180deg);}
100% {-moz-transform: rotate(0deg);}
}

@-webkit-keyframes bRotateClose {
0% {-webkit-transform: rotate(180deg);}
100% {-webkit-transform: rotate(0deg);}
}

@-o-keyframes bRotateClose {
0% {-o-transform: rotate(180deg);}
100% {-o-transform: rotate(0deg);}
}

@-ms-keyframes bRotateClose {
0% {-ms-transform: rotate(180deg);}
100% {-ms-transform: rotate(0deg);}
}

/*Button open*/
@keyframes bRotateOpen {
0% {transform: rotate(0deg);}
100% {transform: rotate(180deg);}
}

@-moz-keyframes bRotateOpen {
0% {-moz-transform: rotate(0deg);}
100% {-moz-transform: rotate(180deg);}
}

@-webkit-keyframes bRotateOpen {
0% {-webkit-transform: rotate(0deg);}
100% {-webkit-transform: rotate(180deg);}
}

@-o-keyframes bRotateOpen {
0% {-o-transform: rotate(0deg);}
100% {-o-transform: rotate(180deg);}
}

@-ms-keyframes bRotateOpen {
0% {-ms-transform: rotate(0deg);}
100% {-ms-transform: rotate(180deg);}
}